#navbar {
    background-color: #5BAE7E;
}

body {
    padding-top: 110px;
}

#headerHeader {
    padding-top: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
}

h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
}

#homeImage {
    height: 610px;
    width: auto;
}
