#navbar {
    background-color: #5BAE7E;
}

body {
    padding-top: 65px;
}

#headerHeader {
    padding-top: 12px;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
}

h2 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
}

h4 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
}

#homeImage {
    height: auto;
    width: auto;
}

.navbar {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
}
